
@font-face{
    font-family: 'Montserrat'; 
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Quicksand'; 
    src: url('../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight:normal;
    font-style:normal; 
}

body,html{
    margin: 0px; 
    padding:0px;
    font-family: 'Montserrat', serif;
}

ol, ul{
    list-style: none;
}

#logo{
    text-align: center; 
    padding:1%;
}

#pic{
    margin:auto;
    /* margin-top: 5%; */
    width: 100px;
    display:block;
}

/* NAVIGATION */ 
.nav{
    /* margin: 0; */
    background-color: white;
    height: 30px;
    padding: 30px;
    padding-bottom: 20px;
    text-align: center;
    /* position:fixed;  */
    /* width:100%; */
    overflow: hidden;
}

.nav-shadow{
    box-shadow: 0px 0px 5px 5px #171219
}

.nav > ul {
    margin: 0;
}

    .nav > ul > li {
        display: inline-block;
        margin: 0 0.35em 0 0.35em;
    }

        .nav > ul > li > ul {
            display: none;
        }

        .nav > ul > li > a {
            border-radius: 5px;
            color:black;
            text-decoration: none;
            padding: 0.6em 1.2em 0.6em 1.2em;
            outline: 0;
        }

        .nav > ul > li:hover > a, .nav > ul > li.active > a {
            background: #f3f3f3;
        }

.sticky{
    position:fixed; 
    top: 0; 
    width:100%;
}

.sticky + .body{
    padding-top: 60px;
}

/* BODY */

#body{
    background-color: #EEEEEE; 
}

div .text{
    font-size: 30px;
    vertical-align: middle;
    color:white;
    display:inline-block;
    font-weight: bold;
}

#content{
    margin-left: 10%;
    margin-right:10%;
    width: 80%;
    padding: 20px; 
    padding-top: 50px;
}

#content p{
    text-align: justify; 
    line-height: 1.5; 
}

#footer{
    color: #fff; 
    padding: 30px; 
    text-align: center;
    background-color: #171219;
    height: 90px;
    bottom:0;
}

#topper{
    position:fixed; 
    right: 20px; 
    bottom: 20px; 
    display:inline-block; 
    background-color: #DC8F8E; 
    font-weight: bold; 
    color: white; 
    width: 40px; 
    height: 40px; 
    border-radius: 5px; 
    text-align: center; 
    font-size: 30px;
}
#topper:hover{
    cursor: pointer;
    background-color: #E15554; 
}
